<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppHarbor.NET" version="1.1.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Nancy" version="0.10.0" />
  <package id="Nancy.Testing" version="0.10.0" />
  <package id="Nancy.Viewengines.Razor" version="0.10.0" />
  <package id="RestSharp" version="103.0.0" />
  <package id="xunit" version="1.7.0.1540" />
</packages>