<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppHarbor.NET" version="2.2.0" targetFramework="net40" />
  <package id="CsQuery" version="1.2.1" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="Nancy" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Testing" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.12.1" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>