<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="GET,HEAD" path="*" type="System.Web.StaticFileHandler" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="StaticFileHandler" verb="GET,HEAD" path="*" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
</configuration>
