<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
    <!-- These are injected with the real values by the AppHarbor build process -->
    <!-- To register your own client for testing see https://appharbor.com/clients -->
    <add key="OAUTH_ID" value="" />
    <add key="OAUTH_REDIRECT" value="http://localhost:49440/callback" />
    <add key="OAUTH_KEY" value="" />
    <add key="GA_KEY" value="" />
    <add key="WSS" value="" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="AppHarbor.NET" />
    </assemblies>
    <namespaces></namespaces>
  </razor>
</configuration>