<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- These are injected with the real values by the AppHb build process -->
    <add key="OAUTH_ID" value="c0cfc005-4f90-4843-9e4c-387d9f81dc55" />
    <add key="OAUTH_REDIRECT" value="http://localhost:49440/callback" />
    <add key="OAUTH_KEY" value="3adde6c1-9734-4dcb-9784-a1b6ba1b5bdd" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>