<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
    <!-- These are injected with the real values by the AppHarbor build process -->
    <!-- To register your own client for testing see https://appharbor.com/clients -->
    <add key="OAUTH_ID" value="0da5991b-96ac-4ad5-9628-2cfa5f463f4e" />
    <add key="OAUTH_REDIRECT" value="http://localhost:49440/callback" />
    <add key="OAUTH_KEY" value="777259c1-aa77-476c-aa75-2ee82aa6bf76" />
    <add key="GA_KEY" value="" />
    <add key="WSS" value="" />
    <add key="CRYPTO_PASSPHRASE" value="testing passphrase that is replaced on production" />
    <add key="CRYPTO_SALT" value="41DB82B0-070A-449D-BBDE-0FA7791E907F" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
  </system.web>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </assemblies>
  </razor>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>