@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="page-header">
    <h1>About AppHarbify</h1>
</div>

<p>AppHarbify aims to be a simple platform that helps with both the deployment of software to <a href="http://www.appharbor.com" rel="external">AppHarbor</a> and the maintenance of software already deployed.</p>
<p>The goal is to promote open source and .NET development. I want every piece of .NET open source to be written for the &#145;cloud&#146; and deployable by AppHarbify.</p>

<h2>Deployment</h2>
<p>AppHarbify automates the steps involved in getting software running on AppHarbor. These typically include</p>
<ul>
    <li>Creation of a site</li>
    <li>Application configuration</li>
    <li>Add-on configuration</li>
    <li>Code deployment</li>
</ul>

<h2>Maintenance</h2>
<p>AppHarbify offers simple to install tools for the maintenance of any site you host on AppHarbor, whether it was deployed with AppHarbify or not.</p>
<ul>
    <li>Receive build notifications by email</li>
    <li>Receive build notifications by twitter <span class="badge badge-info">Comming soon!</span></li>
</ul>

<h2>Get Involved!</h2>
<p>AppHarbify is open source and accepting contributions. There are many ways you can help out.</p>
<ul>
    <li>Send me a pull request on <a href="https://github.com/csainty/Apphbify" rel="external" target="_blank">GitHub</a>.</li>
    <li>Add a new application ready to be deployed by updating <a href="https://github.com/csainty/Apphbify/blob/master/Apphbify/Apps.json" rel="external nofollow" target="_blank">Apps.json</a></li>
    <li>Fork a popular open source project and get it running on AppHarbor.</li>
    <li>Send me suggestions on twitter <a href="http://www.twitter.com/csainty" target="_blank" rel="external nofollow">@@csainty</a> or <a href="https://trello.com/board/appharbify/4f9a781817171c492a6ef9db" rel="external" target="_blank">Trello</a>.</li>
    <li>Talk about AppHarbify! Send a tweet, write a blog. It all helps.</li>
</ul>

<div class="alert alert-info">
    <p>AppHarbify is a free service, still in beta. Please keep this in mind and be patient with any problems you encounter.</p>
</div>