@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.AppsViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="page-header">
    <h1>Apps</h1>
</div>
<p>
    Browse through the apps and see what you can deploy
</p>
<table class="table table-bordered table-striped" id="appsTable">
    <tbody>
        @foreach (var app in Model.Apps)
        {
            <tr class="app">
                <td>
                    <h3>@app.Name</h3>
                    <p>@app.Description</p>
                </td>
                <td>
                    <a href="/Deploy/@app.Key" class="btn btn-info" rel="nofollow">Deploy</a>
                    <a href="@app.ProjectUrl" class="btn btn-success" rel="external">Visit Project Site</a>
                </td>
            </tr>
        }
    </tbody>
</table>