@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="hero-unit">
    <h1>Appharbify all the things!</h1>
    <p>Instantly deploy open source software to AppHarbor.</p>
    <p><a href="/Apps" class="btn btn-primary btn-large">See what is available</a></p>
    <p>Easily add build notifications to your existing applications.</p>
    <p><a href="/Sites" class="btn btn-primary btn-large">Get started now</a></p>
</div>
<div class="alert alert-info">
    <h4 class="alert-heading">Beta</h4>
    Appharbify is still in beta. If you notice any problems tweet me <a href="http://www.twitter.com/csainty" target="_blank" rel="external">@@csainty</a> or post an issues at <a href="https://github.com/csainty/Apphbify/issues" target="_blank" rel="external">github</a>.
</div>