@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="hero-unit">
    <h1>AppHarbify all the things!</h1>
    <div class="container">
        <div class="row">
            <div class="span4">
                <p>Instantly deploy open source software to AppHarbor.</p>
                <p><a href="/Apps" class="btn btn-info btn-large">See what&#146;s available</a></p>
            </div>
            <div class="span4 offset1">
                <p>Easily add build notifications to your existing applications.</p>
                <p><a href="/Sites" class="btn btn-info btn-large">Get started now</a></p>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-info">
    <h4 class="alert-heading">Beta</h4>
    <p>AppHarbify is still in beta. If you notice any problems tweet me <a href="http://www.twitter.com/csainty" target="_blank" rel="external">@@csainty</a> or post an issue at <a href="https://github.com/csainty/Apphbify/issues" target="_blank" rel="external">github</a>.</p>
</div>