@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="hero-unit">
    <h1>Apphbify all the things!</h1>
    <p>
        Instantly deploy open source software to the cloud.</p>
    <p>
        <a href="/Apps" class="btn btn-primary btn-large">See more</a></p>
</div>