@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.SignInViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="page-header">
    <h1>Authenticate with AppHarbor</h1>
</div>
<p>
    To deploy apps to <a href="http://appharbor.com">AppHarbor</a>
    you will need to sign in and assign permission to Appharbify to deploy apps on your behalf.
</p>
<a href="@Model.OAuthUrl" class="btn btn-large btn-success">Get started!</a>