@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.SitesViewModel>
@{
    Layout = "Master.cshtml";
}

@foreach (var site in Model.Sites)
{
    <div class="site">
        <h2>@site.Name</h2>
        <p>@site.Description</p>
        <p><a href="@site.ProjectUrl">Visit Site</a></p>
    </div>
}